.Product {
    width: 275px;
    padding: 16px;
    text-align: center;
    border: 1px solid #f5f5f5;
    box-shadow: 0 2px 3px #cccccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.ProductImage {
    width: 250px;
    height: 250px;
}

.ProductPrice {
    font-size: 14px;
    font-weight: bold;
    opacity: 0.75;
    letter-spacing: 1px;
}

.CartIconAdd {
    width: 25px;
    height: 25px;
    margin: 0;
}

.ProductEmersion {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}